<div class="comments">
<h3 class="listComment">The talk:</h3>
{{#each comments as |comment| }}
		<div class="commentCont">
			<p class="beefComm">{{comment.content}} <br> - {{comment.username}}</p>
            {{/each}}
		</div>

</div>