<div class="comments">
<h3 class="comment-list">Comments:</h3>
{{#each comments as |comment| }}
		<div class="commentCont">
			<p class="commentText">{{comment.content}} <br> - {{comment.username}}</p>
            {{/each}}
		</div>

</div>