<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center pon">
      <h1>
        <a href="/" class="blogTalk">letsblogaboutit</a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile" class="navClass">Navigation Center</a> 
        <button class="exitBtn" id="logout">Exit</button>
        {{else}}
        <a href="/login" class="navClass">Enter</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
